*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root{
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #94c2d8;
}

html{
  font-size: 10px;
  overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
  padding-top: 35px;
}

/* Applies to all scrollable elements */
::-webkit-scrollbar {
  width: 12px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #0e0e0e;
  border-radius: 6px;
  box-shadow: inset 0 0 4px #111;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3b373b, #292e2e);
  box-shadow: 0 0 7px #363436;
  box-shadow: 0 0 2px #82a5a7;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #3b373b, #292e2e);
  box-shadow: 0 0 7px #363436;
}


@media screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 8px;
  }
}



