*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root{
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #94c2d8;
}

html{
  font-size: 10px;
  overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
  padding-top: 35px;
}


@media screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 8px;
  }
}



