.my-portfolio-header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 9%;
  width: 100%;
  background: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.my-portfolio-header img{
  width: 250px;
  height: 60px;
  margin-left: 0;
  padding-left: 0%;
}

nav{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 10px;
  flex: 1;
  max-width: 480px;
}

@media screen and (max-width: 768px) {
  .my-portfolio-header {
    padding: 10px 5%;
    flex-direction: column;
    align-items: flex-start;
  }

  .my-portfolio-header img {
    width: 200px;
    height: 60px;

  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-right: 0;
    width: 100%;
    max-width: none;
  }
}

/* Mobile phones */
@media screen and (max-width: 480px) {
  .my-portfolio-header {
    padding: 10px 4%;
  }

  .my-portfolio-header img {
    width: 150px;
  }

  nav {
    gap: 8px;
  }
}
